<?php

$db["ENGINE1_2"]= [
    "host" => "127.0.0.1",
    "port" => 3306,
    "dbname" => "...",
    "user" => "...",
    "pwd" => "...",
    "db_id" => "..."
];

$db["WEB"]= [
    "host" => "127.0.0.1",
    "port" => 3306,
    "dbname" => "...",
    "user" => "...",
    "pwd" => "...",
    "db_id" => "..."
];


define("_ABS_DOC_ROOT_","C:/xampp/htdocs/brainyping.com/www/");                   //CONFIG
define("_ABS_COOKIES_FOLDER_", _ABS_DOC_ROOT_ . "brainyping_cookies/");           //CONFIG
define("_ABS_LOG_FOLDER_",_ABS_DOC_ROOT_ . "logs/");
define("_EXT_SCRIPTS_FROM_LOCAL_", true);

//CLI APPS
define("$_SESSION["config"]["_ABS_DOC_ROOT_"]","C:\\xampp\\htdocs\\brainyping.com\\www\\cli\\");         //CONFIG (double slashes \\)
define("_ABS_PATH_PHP_EXEC_","C:\\xampp\\php\\");                                 //CONFIG (double slashes \\)
define("_WD_ROWS_LIMIT_",15);
define("_WD_SECONDS_NEXT_RUN_",5);
define("_WD_PROCESS_NAME_", "WHATCHDOG");
define("_WD_SHELL_","WIN");
define("_PING_PROCESS_NAME_","ENG1");
define("_SEC_ALIGNMENT_ALERT_",3);
define("_WD_CHECK_TYPE_FILTER_","");
define("_WD_PORT_FILTER_","");

//THESE SETTINGS SHOULD BE COMMON... CHANGE IF NEEDED
define("_APP_NAME_","YOURAPPNAME");                                              //CONFIG
define("_HTML_TITLE_","YOURAPPNAME");                                            //CONFIG
define("_APP_DEFAULT_EMAIL_","info@domain.com");                               //CONFIG
define("_APP_DEFAULT_EMAIL_ROBOT_","ROBOT <robot@domain.com>");  //CONFIG
define("_APP_DEFAULT_EMAIL_CONTACTS_RECIPIENT_","info@domain.com");       //CONFIG

define("_CLASSES_PATH_", "classes/");
define("_CLASSES_PATH_FROM_CLI_", "../classes/");
define("_INCLUDE_FILES_PATH_","include_files/");
define("_INCLUDE_FILES_PATH_FROM_CLI_" , "../include_files/");
define("_AJAX_CALLS_FILES_PATH_","ajax_calls/");

//THIS COULD BE FROM ROOT ("/") BECAUSE IT'S USED BY JS AND SO IT REFERS TO THE MAIN DOMAIN AUTOMATICALLY....
define("_AJAX_CALLS_INDEX_","/index_ajax_calls.php/");

define("_DOMAIN_","yourdomain.com/");                                           //CONFIG
define("_APP_ROOT_URL_","http://". _DOMAIN_ );




