<?php

define ("_MACHINE_ID_","YOUR ENV ID");

//do not remove db_id values... they're not needed for connections but during some DB processes.

$db["ENGINE"]= [
    "host" => "",
    "port" => ,
    "dbname" => "",
    "user" => "",
    "pwd" => "",
    "db_id" => "ENGINE"
];


$db["WEB"]= [
    "host" => "",
    "port" => ,
    "dbname" => "",
    "user" => "",
    "pwd" => "",
    "db_id" => "WEBHOST"
];





